body {
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
.nav-link{
    font-size: 22px;
    color: #222;
    margin-right: 50px;
}

#clock_box{
    padding-right: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}
#clock{
    padding-top: 0.5em;
    height: 2em;
    margin: 0;
    font-size: 3em;
}



.title_page{
    margin-top: 50px;
    position: relative;
    padding-top: 30px;
    padding-left: 20px;
    color: #333;
    box-sizing: border-box;
    border-bottom: 2px solid #737373;
    padding-bottom: 30px;
}

.indexHeader {
    background-image: url('../images/header-website4.jpg');
    background-size: cover;
    background-position: center;
    text-align:left;
    font-size: 25px;
    color: #fff;
    margin-top: 50px;
    padding: 200px 20px;
}


.service_link{
    padding-top: 130px;
}
.service_link_c > .btn {
    width: 210px;
    height: 210px;
    border-width: 3px;
    border-radius: 10px;
    border-color: #b7a995;
    border-style: solid;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.service_link_c > .btn:hover{
    border-color: #165727;
    color: #b7a995;  
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 650px; 
    width: 100%; 
}

#closeBtn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}
  
.indexSculp{
    padding-top: 150px;
}
.indexSculp h1{
    box-sizing: border-box;
    border-top: 2px solid #b7a995;
    padding-top: 150px;
}
.my_img {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.my_img:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 5px #888;
}
.ind_sculp_name{
    padding: 30px 30px 30px 30px
}
.firsth1{
    padding: 20px;
    text-align: center;
    color: #b7a995;
    font-size: 30px;
}
.indexTable{
    background-color: #fff;
    text-align: center;
    color: #b7a995;
    display: inline-block;
}
#iframe_map{
    top: 100px;
    position: relative;
    background-color: #b7a995;
    width: 100%;
    height: 100%;
    padding: 10px 0 50px 0;
}
#iframe_map h1{
    color: #fff;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

ul{
    width: 100%;
    position: relative;
    top: 30px;
}  
li {
    color: #165727;
}
footer > p {
    background-color: #333; 
    color: #fff; 
    text-align: right;
    padding: 10px;
    position: relative;
    top: 100px;
}  


/* facts */
.facts{
    background-color: #ebe6df;
}
#history{
    top: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    
}
#tit_history{
    font-size: 50px;
    padding-left: 20px;
}
.history_date{
    color: #000;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 5px;
}
.history_left{
    padding: 10px 20px 100px 20px;
    text-align: left;
    width: 1000px;
}

.history_right{
    text-align: right;
    padding: 10px 20px 100px 20px;
    width: auto;
}
.history_exp{
    font-size: 28px;
    color: #595959;
}
.history_detail{
    font-size: 18px;
    color: #737373;
}

em{
    color: #165727;
    font-size: 30px;
    text-align: center;
}

/* videos */
.video_wrap{
    display: inline-block;
    top: 20px;
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 70px 50px 70px 50px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
.video_container{
    display: inline-block;
    padding: 50px 40px 30px 40px;
}
.video_container h2{
    padding-top: 30px;
}


/* Exhibitions */
.exh{
    position: relative;
    padding: 10px;
    color: #737373;
}
.exh_list li{
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 25px;
    color: #595959;
    
}
.exh_list h3{
    color: #737373;
}
.exh_table{
    padding: 20px 20px 50px 20px;
}

.exh_table td{
    padding: 20px;
}

#s_exh_table h3{
    font-size: 20px;
    padding-top: 40px;
}

/* Exhibition Button */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 30px;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}



/* Sign Up */

#signup{
    padding-top: 150px;
    position: relative;
}

#tit_signup{
    color: #6b5133;
}

.field{
    margin-top: 30px;
    color: #70502c;
}

.field label{
    font-size: 20px;

}

.full{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: rgb(67, 64, 60), 6%, 25%;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.full:hover {
  background: #F6F9FE;
  color: #7b4f1d;
}

.full:active {
  box-shadow: 0 4px 4px 0 rgb(67 64 60 / 30%), 0 8px 12px 6px rgb(67 64 60 / 15%);
  outline: none;
}

.full:focus {
  outline: none;
  border: 2px solid #7b4f1d;
}

.full:not(:disabled) {
  box-shadow: #43403c4d 0 1px 3px 0, rgba(67, 64, 60, .15) 0 4px 8px 3px;
}

.full:not(:disabled):hover {
  box-shadow: rgba(67, 64, 60, .3) 0 2px 3px 0, rgba(67, 64, 60, .15) 0 6px 10px 4px;
}

.full:not(:disabled):focus {
  box-shadow: rgba(67, 64, 60, .3) 0 1px 3px 0, rgba(67, 64, 60, .15) 0 4px 8px 3px;
}

.full:not(:disabled):active {
  box-shadow: rgba(67, 64, 60, .3) 0 4px 4px 0, rgba(67, 64, 60, .15) 0 8px 12px 6px;
}

.full:disabled {
  box-shadow: rgba(67, 64, 60, .3) 0 1px 3px 0, rgba(67, 64, 60, .15) 0 4px 8px 3px;
}


.exh_info{
    font-size: 20px;
}

.decade_select{
    font-size: 20px
}

/* Contact us */
#titContact {
    font-weight: bold;
}

.contactUs {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 100px;
    padding: 20px;
    width: 60%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 55%;
    margin-top: 6px;
    margin-left: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.labCont{
    margin-left: 20px;
    font-size: 17px;
    font-weight: 600;
}

#fmsg {
    margin-bottom: 30px;
}
  
#btnCont {
    width: 55%;
    margin: 0 auto; /* Add this line to center the button */
}